
<div class="col-md-8 offset-md-1">
  <h2>Follow members</h2>
<% if @members.exists? %>

 
   <table class="table">

  	  	<tbody>
  	  	  <% @members.each do |member| %>
	  	  	<tr>
	  	  	  <td><%= member.name %></td>
	  	  	  
	      	  <td>フォロー数: <%= member.followings.count %></td>
            <td>フォロワー数: <%= member.followers.count %></td>
      
	  	  	  <td><%= link_to "Show", "/members/#{member.id}" %></td>
	  	  	</tr>
  	  	  <% end %>
  	  	</tbody>
  	  </table>
  	
<% else %>
  <p>ユーザーはいません</p>
<% end %>


</div>