  <div class="container px-5 px-sm-0 mt-5">
    <h3 class='text-center'>ジャンル編集</h3>
    <div class="row">
      <%= form_with model:@genre, url:admin_genre_path(@genre), local: true do |f| %>
      <div class= "d-flex form-group mt-5">

　      <span class='col-3 offset-md-4 '><%= f.label :ジャンル名 %></span>
　    　<span class='col-10'><%= f.text_field :name, placeholder: "ジャンル名", class:"form-control", style: "color: #364e96; border: solid 3px #364e96; " %></span>
        <%= f.submit '変更を保存', class: "btn btn-success" %>
　　  </div>
    <% end %>

　　</div>
　</div>