
<div class= "container mt-5">
  <div class= "row">
    <div class= "mx-auto col-11 col-sm-10 col-lg-9 col-xl-8">
      <h1 class= "text-center" >About</h1>
      <p class= "text-center mt-3">
        蓄積してきた学習一つひとつ＝"点"として、<br>
        その"点"をみんなで共有し"線"にしていくことで<br>
        学習の深め、自分ひとりで簡潔してしまっていた学びを<br>
        誰かの学習に役立てるサイトです。
    </div>
  </div>
</div>
